{% extends "layout.html" %}
{% load static %}
{% block content %}
    <div>
        <ul class="list-group list-group-flush home">
            <li class="list-group-item">Es la primera vez que usas la pagina</li>
            <li class="list-group-item">Trataste de acceder a pendientes sin tener un login o un pendiente que devolver</li>
            <li class="list-group-item">Has devuelto algun implemento</li>
            <li class="list-group-item">Das Click la pestañina Home</li>
            <li class="list-group-item">Cuando se da click en Sign in, e intentas iniciar sesion con un user o contraseña inconrrectas, se limpian los espacios para que lo intentes de nuevo</li>
        </ul>
    </div>
{% endblock %}